<form action="/restaurants" method="POST">

  <h3>Restaurant name</h3>
  <input type="text" placeholder="name" name="name">

  <h3>Restaurant name_en</h3>
  <input type="text" placeholder="name_en" name="name_en">

  <h3>Restaurant category</h3>
  <input type="text" placeholder="category" name="category">

  <h3>Restaurant image url</h3>
  <input type="text" placeholder="image" name="image">

  <h3>Restaurant Location</h3>
  <input type="text" placeholder="location" name="location">

  <h3>Restaurant phone</h3>
  <input type="text" placeholder="phone" name="phone">

  <h3>Restaurant Google Map Url</h3>
  <input type="text" placeholder="google_map" name="google_map">

  <h3>Restaurant rating</h3>
  <input type="text" placeholder="rating" name="rating">

  <h3>Restaurant description</h3>
  <input type="text" placeholder="description" name="description">


  {{!-- 新增按鍵 --}}
  <button type="submit">Create</button>

</form>