<form action="/restaurants" method="POST">

  <h3>Restaurant name</h3>
  <input type="text" placeholder="name" name="name" required>



  <h3>Restaurant category</h3>
  <input type="text" placeholder="category" name="category" required>

  <h3>Restaurant image url</h3>
  <input type="text" placeholder="image" name="image" required>

  <h3>Restaurant Location</h3>
  <input type="text" placeholder="location" name="location" required>

  <h3>Restaurant phone</h3>
  <input type="text" placeholder="phone" name="phone" required>

  <h3>Restaurant Google Map Url</h3>
  <input type="text" placeholder="google_map" name="google_map" required>

  <h3>Restaurant rating</h3>
  <input type="text" placeholder="rating" name="rating" required>

  <h3>Restaurant description</h3>
  <input type="text" placeholder="description" name="description" required>


  {{!-- 新增按鍵 --}}
  <button type="submit">Create</button>

  {{!--返回主頁面按鍵 --}}
  <button type="submit"><a href="/">back</a> </button>
</form>