<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <form action="/restaurants" method="POST">


        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            名稱：
          </span>
          <input type="text" placeholder="name" name="name" required>
        </p>


        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <input type="text" placeholder="category" name="category" required>
        </p>



        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-image" aria-hidden="true"></i>
            照片:
          </span>
          <input type="text" placeholder="image" name="image" required>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input type="text" placeholder="location" name="location" required>

        </p>




        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input type="number" placeholder="Only number" name="phone">
        </p>


        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-map-marker"></i>
            Google Map鏈接：
          </span>
          <input type="text" placeholder="google_map" name="google_map" required>
        </p>



        <p class="mb-1">
          <span class="text-secondary">
            <i class="far fa-star"></i>
            評價：
          </span>
          <input type="number" placeholder="Only Number" name="rating">

        </p>




        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-comments"></i>
            介紹：
          </span>

          <textarea class="form-control" placeholder="description" name="description" rows="3" required></textarea>
        </p>

        {{!-- 新增按鍵 --}}
        <button class="btn btn-success" type="submit"> Create</button>

        <a class="btn btn-secondary" href="/">back</a>
      </form>

    </div>


  </div>
</div>